<div class="content-w80 align-hcenter">
  <div>
    <div>
      <h2 style="margin: 0">Essex University (Online)</h2>
      <a href="https://www.essex.ac.uk/about">(Website)</a>
    </div>
    <br />
    <div class="row style1">
      <h3>Why I chose Essex</h3>
      <p>
        During my time working in UK, I was desirous of improving my base
        education level and never got around to whole-heartedly looking into a
        relevant course. It was not until the coronavirus pandemic appeared,
        that I earnestly considered the meaning of life: what have I achieved
        for myself in the past years?
      </p>
      <p>I spent many weeks looking at various online universities, such as:</p>
      <ul>
        <li><a href="https://arden.ac.uk">Arden University</a></li>
        <li><a href="https://www.open.ac.uk/">The Open University</a></li>
        <li>
          <a href="https://www.salford.ac.uk/postgraduate"
            >Salford University</a
          >
        </li>
        <li>
          <a href="https://online.glyndwr.ac.uk/"
            >North Wales Management School</a
          >
        </li>
      </ul>
      <p>
        After weeks of research related to taking up a <strong>Master's</strong> course, course durations and costs,
        I concluded the following average statistics that helped guide my decision:
      </p>

      <div class="flex-container-row flex-centered">
        <div class="stats-cell">
            <h2>~£15 000</h2>
            <p>Cost</p>
        </div>
        <div class="stats-cell">
          <h2>~2 years</h2>
          <p>Duration</p>
        </div>
      </div>

      <p>Given a few data points to consider: </p>
      <ol>
        <li>high average costs,</li>
        <li>duration of taking a postgraduate course full-time,</li>
        <li>familiarity with the subject matter,</li>
        <li>previous degree requirements,</li>
        <li>work experience</li>
      </ol>

      <p>
        My search then narrowed down to Essex University (Online). The university provides
        a <a routerLink="/studies">MSc Computer Science</a> course available in smaller chunks
        and also considered my work experience that now  permits me to take up study based. I feel
        that universities in UK requiring students to have recent degrees (with qualification levels
        such as "2:1" or "2:2" is disadvantageous to potential students, because people who want to
        study, may have studied many years ago and those age-old qualifications are deemed no longer
        valid)
      </p>

      <div class="flex-container-row flex-centered">
        <a routerLink="/studies" style="text-decoration: none">
          <div class="stats-cell">
            <h4 style="margin:0">PG Cert</h4>
            <span>~£3.5K<br/>8 months</span>
          </div>
          </a>
        <div class="arrow-right"></div>
        <div class="stats-cell">
          <h4 style="margin:0">PG Dip.</h4>
          <span>~£3.5K<br/>8 months</span>
      </div>
      <div class="arrow-right"></div>
      <div class="stats-cell">
        <h4 style="margin:0">Master's</h4>
        <span>~£3.5K<br/>8 months</span>
    </div>
    </div>
  </div>

</div>
</div>
