<div class="accordion2">
  <div *ngFor="let unit of this.items">
    <div aria-expanded="false"
         class="xxxx">
      <div class="accordion__item">

        <div class="accordion-header space-x-4 p-2" [ngClass]="{expander: unit.content}">
          <h4 class=""
              style="flex-basis:10%">{{ unit.title }}</h4>

          <div style="flex-basis:90%"><span>{{ unit.description }}</span></div>
        </div>
      </div>
      <div *ngIf="unit.content"
           class="accordion-body">
        {{ unit.content }}
      </div>
    </div>

  </div>
</div>
