<footer class="footer">
  <h3>Some decent blurb text</h3>
  <div class="flex-container-row flex-centered m20">
    <a
      href="www.linkedin.com/in/devarch-michaeljustus/"
      target="_blank"
      class="inline-block link">
      <div>
        <strong class="connect-caption">Connect with&nbsp;Me</strong>
      </div>
    </a>

    <a href="#" class="inline-block link"
      ><div >
        <strong class="connect-caption">Get in Touch</strong>
      </div>
    </a>

    <a href="#" target="_blank" class="inline-block link">
      <div >
        <strong class="connect-caption">View My Resume</strong>
      </div>
    </a>
  </div>
  <h5>Copyright © 2021 Michael Justus</h5>
</footer>
