<footer class="footer">
  <h3>Some decent blurb text</h3>
  <div class="flex-container">
    <a
      href="www.linkedin.com/in/devarch-michaeljustus/"
      target="_blank"
      class="connectlink w-inline-block"
    >
      <div class="w-layout-grid connectgrid">
        <h1 class="connectcaption">Connect with&nbsp;Me</h1>
      </div>
    </a>

    <a href="#" class="connectlink w-inline-block"
      ><div class="w-layout-grid connectgrid">
        <h1 class="connectcaption">Get in Touch</h1>
      </div>
    </a>

    <a href="#" target="_blank" class="connectlink w-inline-block">
      <div class="w-layout-grid connectgrid">
        <h1 class="connectcaption">View My Resume</h1>
      </div>
    </a>
  </div>
  <h5>Copyright © 2021 Michael Justus</h5>
</footer>
