<div *ngFor="let item of items; let i = index"
     class="course-artefact space-y-4">
  <div class="flex flex-row space-x-3 border-b p-4 border-gray-200">
    <img src=""
         alt="Artefact Image"
         class="doc"
         src="{{ imageURL }}" />
    <div>
      <strong class=" font-semibold"
              style="color: hsl(296.4, 64.7%, 20%);">{{ item.title }}</strong>
      <p><em [innerHTML]="item.description"></em></p>
      <a class="button mt-3"
         *ngIf="item.URL"
         routerLink="{{ rootPath }}"
         (click)="setPiece(items, item)">Read More</a>

    </div>
  </div>
</div>
