<div class="content">
<div class="flex-container edge-padding">
  <aside>
    <h4>Course Details</h4>
    <span>
      Study Level: PG Cert<br/>
      Enrolment Date: 2021<br/>
      Duration: 8 months<br/>
    </span>

    <h4 style="margin-top:2em">University</h4>
    <a class="button" routerLink="/essex">Essex University</a>
  </aside>

  <article>
    <section>
      <h2 style="margin-bottom:0">Masters of Computer Science</h2>
      <h4>(Postgraduate Certificate)</h4>
      <span>
        This section contains details related to my education journey in an MSc
        course related to Computer Science. The section outlines each unit's
        learning outcomes, artefacts, feedback or other data points relevant to
        the course and follows outputs as per requirements of University of
        Essex (Online).
      </span>
    </section>

    <br/>

    <section class="style2">
      <h3>PGCert Course Modules</h3>

      <div class="flex-row row">
        <div *ngFor="let course of Modules" class="col-3 col-4-narrow col-12-mobile flex-cell course-module">
          <img
              class="moduleimage"
              alt="course.imageUrl"
              src="{{course.imageUrl}}"
          />
          <h4>{{course.Title}}</h4>
          <a class="button" (click)="setCourse(course)" routerLink="/module" [state]="'{course}'">Learn More</a>
        </div>
      </div>
    </section>
  </article>
</div>

<div>
  <article>
    <section class="style2">
      <h2>Overall Musings</h2>
    </section>
  </article>
</div>
</div>
