<div class="w-2/3 mx-auto my-3">
  <h2 class="text-4xl font-bold text-center">Masters of Computer Science</h2>

  <div class="mt-8 flex flex-row shadow-lg">
    <div
      class="w-full md:w-1/4 p-4 rounded-tl-lg rounded-bl-lg text-left bg-gray-800 text-white border border-gray-200"
    >
      <h4 class="font-sans font-semibold mb-4">Course Details</h4>
      <span>
        Study Level: PG Cert<br />
        Enrolment Date: 2021<br />
        Duration: 8 months<br />
        University: Essex University (Online)<br />
        <a class="button mt-4 bg-white" routerLink="/essex">Why Essex?</a>
      </span>
    </div>

    <div
      class="w-full md:w-3/4 p-4 bg-white rounded-tr-lg rounded-br-lg text-left border border-gray-200"
    >
      <h4 class="text-lg font-bold text-red-400 mb-4">
        Postgraduate Certificate
      </h4>

      <span
        >This section contains details related to my education journey in an MSc
        course related to Computer Science. The section outlines each unit's
        learning outcomes, artefacts, feedback or other data points relevant to
        the course and follows outputs as per requirements of University of
        Essex (Online).
      </span>

      <div class="mt-6">
        Current Module:
        <h4>{{ currentModule.Title }}</h4>
      </div>

        <div class="mt-4 h-3 relative rounded-full overflow-hidden">
          <div class="w-full h-full bg-gray-200 absolute"></div>
          <div id="bar" class="transition-all ease-out duration-1000 h-full bg-green-500 relative w-10"></div>
      </div>
    </div>
  </div>

  <div class="w-3/4 md:w-3/4 p-4 mt-10">
        <h4 class="text-lg font-bold text-red-400 mb-4">Modules</h4>

        <div class="flex-row">
          <a
            *ngFor="let course of Modules"
            class="col-3 col-4-narrow col-12-mobile flex-cell course-module button"
            (click)="setCourse(course)"
            routerLink="/module"
          >
            <img
              class="module-image"
              alt="course.imageUrl"
              src="{{ course.imageUrl }}"
            />
            <h4>{{ course.Title }}</h4>
          </a>
        </div>
      </div>
</div>
