<!DOCTYPE html>
<html lang="en">
<head>
    <title>e-Portfolio</title>
    <meta charset="utf-8"/>
    <meta
            content="width=device-width, initial-scale=1, user-scalable=no"
            name="viewport"/>
    <link href="../../assets/css/main.css" rel="stylesheet"/>
</head>
<body class="landing is-preload">
<div id="page-wrapper">

    <!-- Intro -->
    <section class="wrapper style1" id="intro">
        <div class="container">
            <section class=features>
                <div class=row>
                    <div class="col-3 col-12-narrow">
                        <div class=intro>
                            <h3>Course Details</h3>
                            <section>
                                <p>Enrolment Date: 2021</p>
                                <p>Graduation Level: Postgraduate Certificate</p>
                            </section>
                        </div>
                        <div>
                            <a class="button" href="essexlearning.html">Essex University Online Learning</a>
                        </div>
                    </div>
                    <div class="col-7 col-4-narrow col-12-mobile">
                        <section>
                            <h2>
                                Masters of Computer Science<br/>
                                <span>Pursuit of personal education to expand understanding of the field
                                  and grow in academic experience.</span>
                            </h2>
                            <footer>
                                <p>
                                    This section contains details related to my education journey in
                                    an MSc course related to Computer Science. The section outlines
                                    each unit's learning outcomes, artefacts, feedback or other data
                                    points relevant to the course and follows outputs as per
                                    requirements of University of Essex (Online).
                                </p>
                            </footer>
                        </section>

                        <section class="style2" id="main">
                            <div class="container">
                                <div class="row col-7 col-4-narrow col-12-mobile">
                                    <h3>Course Modules</h3>
                                </div>
                                <div class=row>
                                    <div class="col-3 col-4-narrow col-12-mobile">
                                        <section>
                                            <a class="image fit" href="#"><img alt="" src="images/pic02.jpg"/></a>
                                            <h4>Induction</h4>

                                            <a class="button" href="modules/induction.html">Learn More</a>

                                        </section>
                                    </div>

                                    <div class="col-3 col-4-narrow col-12-mobile">
                                        <section>
                                            <a class="image fit" href="#"><img alt="" src="images/pic02.jpg"/></a>
                                            <h4>Launching into Computer Science</h4>

                                            <a class="button" href="modules/launching.html">Learn More</a>

                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </section>
        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-3 col-6-narrow col-12-mobilep">
                    <h3>Feugiat sed consequat</h3>
                    <ul class="alt">
                        <li><a href="#">Phasellus sed scelerisque</a></li>
                        <li><a href="#">Donec tempus et tortor ultricies</a></li>
                        <li><a href="#">Eget pellentesque turpis ultrices</a></li>
                        <li><a href="#">Vestibulum ut nulla vel magna</a></li>
                        <li><a href="#">Iaculis arcu nulla vel lorem nisl</a></li>
                        <li><a href="#">Quis ultricies tellus et imperdiet</a></li>
                    </ul>
                </div>
                <div class="col-3 col-6-narrow col-12-mobilep">
                    <h3>Pellentesque et turpis</h3>
                    <ul class="alt">
                        <li><a href="#">Phasellus sed scelerisque</a></li>
                        <li><a href="#">Donec tempus et tortor ultricies</a></li>
                        <li><a href="#">Eget pellentesque turpis ultrices</a></li>
                        <li><a href="#">Vestibulum ut nulla vel magna</a></li>
                        <li><a href="#">Iaculis arcu nulla vel lorem nisl</a></li>
                        <li><a href="#">Quis ultricies tellus et imperdiet</a></li>
                    </ul>
                </div>
                <div class="col-6 col-12-narrow">
                    <h3>Malesuada vivamus lacus</h3>
                    <p>
                        Phasellus dapibus convallis scelerisque. Donec tempus augue id
                        tortor ultricies eget pellentesque turpis ultrices. Vestibulum
                        ut nulla sem, vel iaculis arcu. Nulla vel lorem nisl sed quis
                        ultricies tellus. Nunc laoreet. Nunc imperdiet elit sed dolore
                        lacus venenatis rutrum.
                    </p>
                    <h3>Tellus nunc dapibus</h3>
                    <div class="row">
                        <div class="col-6 col-12-mobilep">
                            <ul class="labeled-icons">
                                <li>
                                    <h3 class="icon solid fa-map-marker-alt">
                                        <span class="label">Address</span>
                                    </h3>
                                    1234 Somewhere Rd.<br/>
                                    Nashville, TN 00000
                                </li>
                                <li>
                                    <h3 class="icon solid fa-phone">
                                        <span class="label">Phone</span>
                                    </h3>
                                    (000) 000-0000
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-12-mobilep">
                            <ul class="labeled-icons">
                                <li>
                                    <h3 class="icon solid fa-envelope">
                                        <span class="label">Email</span>
                                    </h3>
                                    <a href="#">info@untitled.tld</a>
                                </li>
                                <li>
                                    <h3 class="icon brands fa-twitter">
                                        <span class="label">Twitter</span>
                                    </h3>
                                    <a href="#">@untitledcorp-tld</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">&copy; Untitled. All rights reserved.</div>
    </footer>
</div>

<!-- Scripts -->
<!-- <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script> -->
</body>
</html>
