<div class="flex flex-row h-full">
  <div class="w-1/2 p-10 bg-gray-500 bg-auto page-slash patterned-6 border-red-500 border-r-4">
    <div class="w-2/3 h-full p-20 mt-20 text-white">
      <h1 class="font-bold font-sans  text-6xl">Welcome,</h1>
      <div class="mt-10">
        <span class="font-sans  text-2xl">
          I'm Michael. A
          <strong class="text-blue-400">software architect</strong>,
        </span>
        <span class=" font-sans text-2xl ">
          <strong class="text-yellow-400">software developer</strong> and
        </span>
        <span class="text-green-400 font-sans text-2xl">
          <strong>something else not sure</strong>.
        </span>
      </div>
      <div class="mt-10 font-sans text-xl">
        Feel free to browse the electronic portfolio to see
        what's going down in Michael Town.
      </div>
    </div>
  </div>
  <div class="w-1/2">
    <nav>
      <ul>
        <li>Education</li>
        <li>Work Experience</li>
        <li>About Me</li>
      </ul>
    </nav>
  </div>
</div>
