<nav id="menu" class="w-full h-screen">
  <ul>
    <li *ngFor="let item of items">

      <div *ngIf="item.children?.length" >
        <span class="opener">{{item.title}}</span>
        <ul class="collapsible">

          <li  *ngFor="let child of item.children">

            <div *ngIf="child.children?.length">
              <span class="opener">{{ child.title }}</span>

              <ul class="collapsible">
                <li *ngFor="let kid of child.children">
                  <a (click)="select(kid)" routerLink="{{(item.URL || '') + (child.URL || '') + (kid.URL || '')}}">{{kid.title}}</a>
                </li>
              </ul>
            </div>

            <a *ngIf="!child.children?.length" (click)="select(child)" routerLink="{{(item.URL || '') + (child.URL || '')}}">{{child.title}}</a>
          </li>
        </ul>
      </div>

      <a *ngIf="!item.children?.length" (click)="select(item)" routerLink="{{item.URL || ''}}">{{item.title}}</a>
    </li>
  </ul>
</nav>
