<nav id="menu" class="w-full h-screen p-10">
  <header class="text-lg font-bold">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/studies">Course Overview</a></li>
    <li >
      <span class="opener">Modules</span>

      <div
        class="collapsible"
        *ngFor="let module of this.modules; index as idx"
      >
        <span class="opener">{{ module.shortTitle }}</span>

        <ul class="collapsible">
          <li>
            <a (click)="select(module, idx)">Overview</a>
          </li>
          <li>
            <a routerLink="module">Artefacts</a>
          </li>
          <li>
            <a routerLink="module">Reflections</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
