
<div class="bg-white w-full flex items-center px-4 py-6 shadow-sm mb-1 md:space-x-10">
    <div class="flex-none justify-start w-max">
      <a href="#">
        <span class="font-semibold">Michael Justus</span>
      </a>
    </div>

    <nav class="flex items-center justify-center w-full -m-10 space-x-10">
      <div class="relative">
        <a
          routerLink="/studies"
          class="group object-center bg-white rounded-md text-gray-500 inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          <span>Studies</span>
        </a>
      </div>

      <a
        routerLink="/about"
        class="text-base font-medium text-gray-500 hover:text-gray-900"
      >
        About Me
      </a>
    </nav>
  </div>
