<div class="mx-auto">

  <div class="markdown">
    <svg id="blog-title" width="100%"
         height="100">
      <filter id='money'>
        <feMorphology in='SourceGraphic'
                      operator='dilate'
                      radius='2'
                      result='expand' />

        <feOffset in='expand'
                  dx='1'
                  dy='1'
                  result='shadow_1' />
        <feOffset in='expand'
                  dx='2'
                  dy='2'
                  result='shadow_2' />
        <feOffset in='expand'
                  dx='3'
                  dy='3'
                  result='shadow_3' />
        <feOffset in='expand'
                  dx='4'
                  dy='4'
                  result='shadow_4' />
        <feOffset in='expand'
                  dx='5'
                  dy='5'
                  result='shadow_5' />
        <feOffset in='expand'
                  dx='6'
                  dy='6'
                  result='shadow_6' />

        <feMerge result='shadow'>
          <feMergeNode in='expand' />
          <feMergeNode in='shadow_1' />
          <feMergeNode in='shadow_2' />
          <feMergeNode in='shadow_3' />
          <feMergeNode in='shadow_4' />
          <feMergeNode in='shadow_5' />
          <feMergeNode in='shadow_6' />
        </feMerge>

        <feFlood flood-color='#ebe7e0' />
        <feComposite in2='shadow'
                     operator='in'
                     result='shadow' />

        <feMorphology in='shadow'
                      operator='dilate'
                      radius='1'
                      result='border' />
        <feFlood flood-color='#35322a'
                 result='border_color' />
        <feComposite in2='border'
                     operator='in'
                     result='border' />

        <feOffset in='border'
                  dx='1'
                  dy='1'
                  result='secondShadow_1' />
        <feOffset in='border'
                  dx='2'
                  dy='2'
                  result='secondShadow_2' />
        <feOffset in='border'
                  dx='3'
                  dy='3'
                  result='secondShadow_3' />
        <feOffset in='border'
                  dx='4'
                  dy='4'
                  result='secondShadow_4' />
        <feOffset in='border'
                  dx='5'
                  dy='5'
                  result='secondShadow_5' />
        <feOffset in='border'
                  dx='6'
                  dy='6'
                  result='secondShadow_6' />

        <feMerge result='secondShadow'>
          <feMergeNode in='border' />
          <feMergeNode in='secondShadow_1' />
          <feMergeNode in='secondShadow_2' />
          <feMergeNode in='secondShadow_3' />
          <feMergeNode in='secondShadow_4' />
          <feMergeNode in='secondShadow_5' />
          <feMergeNode in='secondShadow_6' />
        </feMerge>

        <feImage x='0'
                 y='0'
                 width='100%'
                 height='100%'
                 xlink:href='../../assets/images/stripes.svg' />

        <feComposite in2='secondShadow'
                     operator='in'
                     result='secondShadow' />

        <feMerge>
          <feMergeNode in='secondShadow' />
          <feMergeNode in='border' />
          <feMergeNode in='shadow' />
          <feMergeNode in='SourceGraphic' />
        </feMerge>
      </filter>

      <text dominant-baseline='middle'
            text-anchor='middle'
            x='50%'
            y='50%'>
        {{ item ? item.title : "Introduction to Computers"}}
      </text>
    </svg>

    <p class="text-sm italic">
      {{ item.description }}
    </p>
  </div>

  <ng-template *ngIf="!item || !item.content; then missingBlock; else showBlock;"></ng-template>

  <ng-template #missingBlock>
    <div class="markdown">
      <h1>Oops! No content is available right now</h1>
      <p class="bsod">Don't worry, head on over to the <strong>Writings</strong> section of a course module to load
        content into this
        area and enjoy!</p>
    </div>
  </ng-template>

  <ng-template #showBlock>
    <div class="carousel">

      <ng-template *ngIf="loadFailed; then loadFailedBlock; else displayBlock"></ng-template>

      <ng-template #loadFailedBlock>
        <div id="reflections"
              markdown
              class="markdown flex-col carousel-item">
          <h1>Failed to load this article</h1>
          <p class="bsod">Please ensure the path to the article is correct. Contact Mars Bar Delta-Delta-Four-One-One</p>
        </div>
      </ng-template>

      <ng-template #displayBlock>
        <div id="reflections"
              markdown
              [src]="'assets/artefacts/reflections/' + item.content"
              (error)="onError($event)"
              (load)="onLoad()"
              class="markdown flex-col carousel-item">
        </div>
      </ng-template>

      <div *ngIf="this.hasPrevious" class="carousel-left carousel-arrow" (click)="navigateLeft()"></div>
      <div *ngIf="this.hasNext" class="carousel-right carousel-arrow" (click)="navigateRight()"></div>
    </div>
  </ng-template>
</div>
