<div class="c-garfield-bio mb-5">
  <div class="l-author-bio">
    <div class="w-48 h-48 rounded-3xl bio-image__large mb-5 mr-3">
      <figure role="presentation" class="bio-image">
        <a href="#" class="bio-image-link">
          <div class="bio-image-wrapper"><img class="bio-image-image"
                 src="../../assets/images/profile.jpg"
                 loading="eager"
                 width="100"
                 height="100"
                 alt="Michael Justus"></div>
        </a>
      </figure>
    </div>
    <div class="l-author-bio-content author__desc" id="author__desc">
      <h3 class="author__desc__title">About The Author</h3>
      <p>Michael is a software engineer and architect user experience &amp; interaction designer working at
        <a href="#">Information Architects</a> in Zurich. He loves the Web, well formed type &amp; freshly
        <a href="#" class="show-more-link">More about Michael</a>
      </p>
    </div>
  </div>
</div>
