<div class="wallpaper-header">
  <div class="wallpaper-filter"></div>
  <div class="w-full wallpaper-1"></div>

</div>
<div class="w-4/5 mx-auto my-3">


  <div class="mb-5 flex flex-col items-center markdown">
    <div class="about">
      <img class="about-profile"
           src="../../assets/images/profile.jpg"
           loading="eager"
           alt="Michael Justus">
    </div>

    <div class="prose-80">
      <h3 class="text-5xl">About Me</h3>
      <p class="drop-letter">
        Hi, my name is Michael. I am a software architect and software engineer rolled up into a single package of
        usefulness.
        Software Architecture is an enjoyable passion as it deals with with the <strong>components</strong> and their
        <strong>interactions</strong>.
        Manipulating the <em>components</em> of a system is a wonderful opportunity to optimise business processes and
        deliver the best
        software solutions to customers.
      </p>

    </div>
  </div>

</div>

<app-footer></app-footer>
