@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Open+Sans+Condensed:300,700");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
@import "../node_modules/tailwindcss/base";
@import "../node_modules/tailwindcss/components";
@import "../node_modules/tailwindcss/utilities";
@import "../src/scss/fontawesome.scss";
@import "../src/scss/solid.scss";

.patterned {
  background-color: #201e23;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23fefeff' fill-opacity='0.17' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.patterned-2 {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.patterned-3 {
  background-color: #4b3074;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23faf8fc' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.patterned-4 {
  background-color: #fdfcff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233d3747' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.patterned-5 {
  background-color: #1f1f35;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%231f1f35' stroke-width='0.28' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(33 1000 750) scale(51.85) translate(-980.71 -735.54)'%3E%3Cuse fill='%23232339' href='%23s' y='2'/%3E%3Cuse fill='%23232339' href='%23s' x='1' y='2'/%3E%3Cuse fill='%2328283d' href='%23s' x='2' y='2'/%3E%3Cuse fill='%2328283d' href='%23s'/%3E%3Cuse fill='%232c2c41' href='%23s' x='2'/%3E%3Cuse fill='%232c2c41' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(33 1000 750) scale(51.85) translate(-980.71 -735.54)'%3E%3Cg fill='%23313145'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(33 1000 750) scale(51.85) translate(-980.71 -735.54)'%3E%3Cg fill='%23313145'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(33 1000 750) scale(51.85) translate(-980.71 -735.54)'%3E%3Cg fill='%23353549'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(33 1000 750) scale(51.85) translate(-980.71 -735.54)'%3E%3Cg fill='%231f1f35'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%233a3a4d'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(33 1000 750) scale(51.85) translate(-980.71 -735.54)'%3E%3Cg fill='%239ccc6d'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(33 1000 750) scale(51.85) translate(-980.71 -735.54)'%3E%3Cg fill='%239ccc6d'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(33 1000 750) scale(51.85) translate(-980.71 -735.54)'%3E%3Cg fill='%239ccc6d'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.patterned-6 {
  background-color: #100e30;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='296' height='296' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233c003c' stroke-width='13.8'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23555555'%3E%3Ccircle cx='769' cy='229' r='16'/%3E%3Ccircle cx='539' cy='269' r='16'/%3E%3Ccircle cx='603' cy='493' r='16'/%3E%3Ccircle cx='731' cy='737' r='16'/%3E%3Ccircle cx='520' cy='660' r='16'/%3E%3Ccircle cx='309' cy='538' r='16'/%3E%3Ccircle cx='295' cy='764' r='16'/%3E%3Ccircle cx='40' cy='599' r='16'/%3E%3Ccircle cx='102' cy='382' r='16'/%3E%3Ccircle cx='127' cy='80' r='16'/%3E%3Ccircle cx='370' cy='105' r='16'/%3E%3Ccircle cx='578' cy='42' r='16'/%3E%3Ccircle cx='237' cy='261' r='16'/%3E%3Ccircle cx='390' cy='382' r='16'/%3E%3C/g%3E%3C/svg%3E");
}

ul li {
  line-height: 2em;
}

#menu ul {
  user-select: none;
  color: #3d4449;
  letter-spacing: 0.075em;
  list-style: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.opener {
  cursor: pointer;
  display: block;
  font-weight: 500;
  font-size: 0.9em;
  text-transform: uppercase;
  line-height: 1.4em;
  padding: 0.5em 0 0.5em 0;
}

.opener ~ .collapsible .opener {
  font-size: 0.8em;
}
.opener ~ .collapsible {
  opacity: 0;
  overflow: hidden;

  transition: all 0.2s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

@keyframes collapse {
  from {
    opacity: 1;
    height: 100%;
    padding-left: 1em;
  }

  to {
    opacity: 0;
    height: 0;
    padding-left: 0;
  }
}

@keyframes expand {
  from {
    opacity: 0;
    height: 0;
    padding-left: 0;
  }

  to {
    opacity: 1;
    height: 100%;
    padding-left: 1em;
  }
}
.opener.active ~ .collapsible {
  opacity: 1;
  position: relative;
  padding-left: 1em;
  transition: all 0.2s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.opener:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  color: red;
  content: "\f107";
  position: relative;
  right: -10px;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1;
  text-rendering: auto;
  text-transform: none !important;
  vertical-align: middle;
}

.opener.active:after {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.page-slash {
  clip-path: polygon(0px 0px, 100% 0px, 90% 100%, 1px 100%);
}

.nothing-here {
  max-width: 256px;
  max-height: 256px;
}

.quote-author {
  font-style: italic;
  font-size: 0.9em;
  width: auto;
  display: block;
  text-align: end;
  padding-right: 40px;
}

/* HTML Elements */

html {
  scroll-behavior: smooth;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  appearance: none;
  border: solid 2px #e8eaeb;
  border-left: 2px solid #ed5565;
  border-radius: 0;
  color: #575d60 !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 0.9em;
  min-width: 64px;
  padding: 0.6em;
  text-align: center;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  white-space: nowrap;

  -ms-appearance: none;
  -ms-transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -moz-appearance: none;
  -moz-transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-appearance: none;
  -webkit-transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
  color: #3c3f40 !important;
  background-color: rgba(255, 255, 255, 48%);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
  color: #575d60 !important;
  background-color: rgba(144, 150, 154, 0.2);
}

blockquote {
  display: block;
  background: #fff;
  padding: 15px 10px 15px 40px;
  position: relative;
  color: #666;
  box-shadow: 2px 2px 15px #ccc;
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
}

blockquote::before {
  content: "\201C";
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: 10px;
  top: 0;
}

blockquote::after {
  content: "\201D";
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover {
  color: #666;
}

blockquote em {
  font-style: italic;
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6,
blockquote p,
blockquote span {
  margin: 0;
  padding: 0;
}

/*Default Color Palette*/
blockquote.default {
  border-left-color: #656d77;
  border-right-color: #434a53;
}

blockquote.grapefruit {
  border-left-color: #ed5565;
  border-right-color: #da4453;
}

span.Cgrapefruit {
  color: #da4453;
}

/* Table of Contents */

.toc-wrapper {
  position: relative;
  margin-top: 42px;
}

.pin-top,
.pin-bottom {
  position: relative;
}

.table-of-contents a {
  display: inline-block;
  font-weight: 300;
  color: #757575;
  padding-left: 16px;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.4;
  display: inline-block;
}

ol.table-of-contents,
ul.table-of-contents {
  margin-top: 0;
  padding-top: 48px;
  position: fixed;
  max-width: 250px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.table-of-contents li {
  padding: 5px 20px 5px 5px;
  list-style: none;
  cursor: pointer;
}

.table-of-contents li.active {
  font-weight: bold;
  border: 1px solid #ee6e73;
  border-radius: 6px;
  background-color: rgba(238, 110, 115, 0.02);
}

.table-of-contents li.active a {
  font-weight: bold;
}

.table-of-contents ul li {
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* MEDIA QUERIES */

@media screen and (min-width: 720px) {
  .container {
    width: 100%;

    .row .col.offset-m1 {
      margin-left: 8.3333333333%;
    }

    .row .col.m3 {
      width: 25%;
      margin-left: auto;
      left: auto;
      right: auto;
    }

    .row .col.m8 {
      width: 66.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
  }
}

.collapsible a {
  cursor: pointer;
}

.collapsible h3 {
  margin: 0;
  width: 96%;
  display: inline-block;
}

.collapsible input[type="checkbox"]:checked + label:after {
  //content: "\f106";
  transform: rotate(-180deg);
}

.collapsible input[type="checkbox"] + label:after {
  content: "\f107";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 2em;
  font-weight: 900;
  color: #ed5565;
  //float: right;
  width: 20px;
  vertical-align: top;
  transform: translate(0, -50%);
  transform: rotate(0deg);
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

.collapse-content {
  overflow: hidden;
  height: 0;
  position: relative;
  padding: 0 1.5em;
  margin-bottom: 20px;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

.checkbox-label {
  opacity: 1;
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.collapse-title {
  margin: 0;
  width: 96%;
  display: inline-block;
}

.collapsible label {
  margin: 0;
}

.collapsible input[type="checkbox"] {
  display: none;
}

.reference-1 {
  border: 1px solid white;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  flex-grow: 0;
  flex-basis: 25%;
  min-height: 100px;
  min-width: 100px;
  user-select: none;
}
.reference-1:hover {
  background-color: hsl(351, 100%, 86%);
  border: 1px solid hsl(351, 100%, 79%);
  color: darkblue;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
.reference-1 h1 {
  margin-bottom: 10px;
}
.reference-1 img {
  max-width: 200px;
  max-height: 200px;
  vertical-align: middle;
  margin: 0 auto;
}
.reference-1 .author {
  padding-top: 6px;
}

.reference-1-na {
  border: 1px solid white;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  flex-grow: 0;
  flex-basis: 25%;
}
.reference-1-na:hover {
  background-color: hsl(351, 100%, 98%);
  border: 1px solid hsl(351, 100%, 89%);
  color: darkblue;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
.reference-1-na:hover:before {
  color: hsl(0, 0%, 36%);
  font-size: 1.5em;
  content: "Not available";
  font-family: sans-serif;
}

.reference-1-na::before {
  font-size: 48px;
  color: hsl(0, 0%, 83%);
  content: "\f02d";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: 50%;
  transform: translate(0, -50%);
}
.tutor-1 {
  width: 100%;
  flex-basis: 20%;
  transform-style: preserve-3d;
  transition: 0.1s ease-in-out transform, 0.1s ease-in-out box-shadow;
}
.tutor-1:hover{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.tutor-1 img.profile {
  text-align: center;
  max-width: 100px;
  max-height: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease;
}

.tutor-1 .banner {
  width: 100%;
  max-height: 2em;
}
.course-artefact {
  border-radius: 6px;
  border: 1px solid hsla(0, 0%, 100%, 100%);
}
.course-artefact:hover {
  background-color: hsl(0, 0%, 99%);
  border-radius: 6px;
  border: 1px solid hsl(0, 0%, 90%);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.07);
}
.course-logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.course-logo-fill {
  background-color: hsl(296.4, 64.7%, 20%);
}

.tab {
  appearance: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  color: #575d60;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 1.1em;
  min-width: 64px;
  min-height: 58px;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;

  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.tab:hover {
  border-bottom: 2px solid lightgray;
  background-color: hsl(296.4, 64.7%, 20%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #ed5565;
  color: #ed5565;
}
.tab.focus {
  border-bottom: 2px solid #ed5565;
  font-weight: 700;
}
.tab h3 {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
ol.li-spaced-sm li {
  padding: 0.2em;
}
.doc {
  max-width: 48px;
  max-height: 48px;
}

.accordion2 {
  display: block;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.accordion2 .accordion__item:hover {
  background-color: #bf54c50d;
  border-radius: 4px;
}
.accordion2 .accordion-body {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.accordion2 .accordion__item[aria-expanded=true]{
  position:sticky;
  top: 0;
}
.accordion2 .accordion__item[aria-expanded="true"] .accordion-header.active {
  box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.07);
  border: 1px solid hsla(297, 49%, 75%, 0.5);
  border-radius: 4px;
  background-color: hsla(297, 49%, 55%, 0.051);
  backdrop-filter: blur(10px);
  height: 48px;
  align-items: center;
}
.accordion2 .accordion__item[aria-expanded="false"] .accordion-header.active {
  border: 1px solid hsla(297, 49%, 75%, 0.5);
  border-radius: 4px;
  background-color: #bf54c50d;
}
.accordion2 .accordion__item[aria-expanded="true"] + .accordion-body {
  margin: 20px auto;
  opacity: 100;
  border-bottom: 2px dashed;
}
.accordion2 .accordion_item[aria-expanded="false"] + .accordion-body {
  opacity: 0;
}
.accordion2 .accordion__item[aria-expanded="true"] .accordion-header.expander:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  content: "\f077";
  color: hsl(354, 81%, 73%);
  float: right;
  position: relative;
  display: block;
  top: 2px;
  transition: 0.3s all cubic-bezier(0.865, 0.14, 0.095, 0.87);
  transform: rotate(-0deg);
  opacity: 100;
}
.accordion2 button {
  outline: none;
  width: 100%;
}
.accordion__item {
   width: 100%;

  -webkit-transition: box-shadow 300ms ease;

  transition: box-shadow 300ms ease;
  text-align: left;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}
.accordion-header.active {
  font-weight: 500;
}
.accordion-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  color: #2e323c;
  width: 100%;
}

.accordion__item > .accordion-header.expander:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  content: "\f077";
  color: rgba(0, 0, 0, 0.7);
  float: right;
  position: relative;
  display: block;
  top: 2px;
  transition: 0.3s all cubic-bezier(0.865, 0.14, 0.095, 0.87);
  transform: rotate(-180deg);
  opacity: 100;
}

.accordion-body {
  display: block;
  padding: 0 8px 0 64px;
  color: #9096a4;
}
.markdown{
  line-height: 1.1em;
  max-width: 80ch;
  margin: 0 auto;
  margin-bottom: 40px;
}
.markdown h1, .markdown h2, .markdown h3{
  letter-spacing: 0;
  line-height: 36px;
  margin: 0;
  margin-top: 1.95em;
  font-size: 2em;
  font-weight: 700;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break: break-word;
  color: rgba(41, 41, 41, 1);
}
.markdown h2{
  font-size: 1.6em;
}
.markdown h3 {
  font-size: 1.2em;
}
.markdown li{
  list-style-type: disc;
  list-style-position: inside;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgba(41, 41, 41, 1);
}
.markdown p{
  margin-top: 0.86em;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgba(41, 41, 41, 1);
  font-weight: 400;
  text-justify: auto;
  text-align: justify;
  line-height: 1.5em;
}
.nav-reflection{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  font-size: 3em;
  text-align: center;
  width: 200px;
  height: 100px;
  background-color: black;
  color: white;
}
.carousel{
  position: relative;
}
.carousel-arrow{
  position: absolute;
  width: 30px;
  height: 85px;
  cursor: pointer;
}
.carousel-arrow.carousel-right::after{
  content: "\f054";
  text-align: end;
}
.carousel-arrow::after{
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-size: 3em;
  font-weight: semibold;
  color:hsl(0, 0%, 83%);
}
.carousel-left{
  top: 50%;
  left: -90px;
  transform: translateY(-50%);
}
.carousel-right{
  top: 50%;
  right: -90px;
  transform: translateY(-50%);
}
.markdown p.bsod::before{
  line-height: 1em;
  font-size: 4em;
  color: lightblue;
  font-weight: 900;
  content: ":)";
  display: inline-block;
  padding: 20px 10px 20px 0;
}
svg#blog-title {
  background: #ebe7e0;
  border-radius:20px;
  width:100%;
  position:relative;
  height:100px;
  margin-top: 10px;
  margin-bottom: 20px;
}
svg#blog-title text {
  fill: #35322a;
  filter: url("#money");
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 50px;
  font-weight: 900;
}

.shadowed2{
  background-color: #ebe7e0;
  color:#35322a;
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  text-shadow:
  0px 1px #fff,
  1px 2px #e6e6d8,
  2px 3px #e6e6d8,
  3px 4px #e6e6d8,
  4px 5px #e6e6d8,
  5px 6px #e6e6d8,
  6px 7px #c6a39a;
}
.shadowed{
  font-family: 'Playfair Display', 'Georgia', serif;
  fill: #35322a;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  text-shadow:
    1px 1px 0px rgb(230, 230, 230),
    2px 2px 0px rgb(230, 230, 230),
    3px 3px 0px rgb(230, 230, 230),
    4px 4px 0px rgb(230, 230, 230),
    5px 5px 0px rgb(230, 230, 230),
    6px 6px 0px rgb(230, 230, 230),
    7px 7px 0px rgb(230, 230, 230),
    9px 8px 0px rgb(235, 231, 224),
    12px 12px 0 #35322a;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.money-text{
  filter: url("#money2");
  fill: #35322a;
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 70px;
  font-weight: 900;
}
.stroke-text{
  font-size:100px;
  text-align:center;
  text-anchor:middle;
  stroke:dodgerblue;
  stroke-width:3px;
  fill:none;
}
